USE [master]
GO
/****** Object:  Database [FacturadorDB]    Script Date: 02/11/2025 14:52:05 ******/
CREATE DATABASE [FacturadorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FacturadorDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FacturadorDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FacturadorDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FacturadorDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FacturadorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FacturadorDB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Cli_ID] [int] IDENTITY(1000,1) NOT NULL,
	[RazonSocial] [nvarchar](255) NOT NULL,
	[CUIT] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](255) NULL,
	[Deshabilitado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cli_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura_Cabecera]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_Cabecera](
	[FC_ID] [int] IDENTITY(2000,1) NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[Cli_ID] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Factura_Cliente]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Factura_Cliente] AS
SELECT
    fc.FC_ID,
    fc.FechaAlta,
    c.RazonSocial,
    c.CUIT
FROM Factura_Cabecera fc
JOIN Cliente c ON c.Cli_ID = fc.Cli_ID;

GO
/****** Object:  Table [dbo].[Factura_Detalle]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura_Detalle](
	[Fact_ID] [int] NOT NULL,
	[FC_DTL_ID] [int] IDENTITY(1,1) NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[ART_ID] [nvarchar](50) NOT NULL,
	[Cant] [decimal](18, 2) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Factura_Detalle] PRIMARY KEY CLUSTERED 
(
	[Fact_ID] ASC,
	[FC_DTL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Factura_Resumen]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Factura_Resumen] AS
SELECT
    fc.FC_ID,
    fc.Estado,
    SUM(fd.Monto) AS TotalFactura
FROM Factura_Cabecera fc
LEFT JOIN Factura_Detalle fd ON fc.FC_ID = fd.Fact_ID
GROUP BY fc.FC_ID, fc.Estado;
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[ART_ID] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](255) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [decimal](18, 2) NULL,
	[Deshabilitado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articulo] ADD  CONSTRAINT [DF_Articulo_Deshabilitado]  DEFAULT ((0)) FOR [Deshabilitado]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [Deshabilitado]
GO
ALTER TABLE [dbo].[Factura_Cabecera]  WITH CHECK ADD  CONSTRAINT [FK_FC_Cliente] FOREIGN KEY([Cli_ID])
REFERENCES [dbo].[Cliente] ([Cli_ID])
GO
ALTER TABLE [dbo].[Factura_Cabecera] CHECK CONSTRAINT [FK_FC_Cliente]
GO
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_FD_ART] FOREIGN KEY([ART_ID])
REFERENCES [dbo].[Articulo] ([ART_ID])
GO
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_FD_ART]
GO
ALTER TABLE [dbo].[Factura_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_FD_FC] FOREIGN KEY([Fact_ID])
REFERENCES [dbo].[Factura_Cabecera] ([FC_ID])
GO
ALTER TABLE [dbo].[Factura_Detalle] CHECK CONSTRAINT [FK_FD_FC]
GO
/****** Object:  StoredProcedure [dbo].[FacturasPorClienteConDetalle]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FacturasPorClienteConDetalle]
    @FechaDesde DATE,
    @FechaHasta DATE,
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        fc.FC_ID,
        fc.FechaAlta,
        fc.Cli_ID,
        fc.Estado,
        fd.FC_DTL_ID,
        fd.ART_ID,
        fd.Cant,
        fd.Precio,
        fd.Monto
    FROM Factura_Cabecera fc
    JOIN Factura_Detalle fd ON fc.FC_ID = fd.Fact_ID
    WHERE fc.Cli_ID = @IDCliente
      AND fc.FechaAlta BETWEEN @FechaDesde AND @FechaHasta
    ORDER BY fc.FC_ID, fd.FC_DTL_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[FacturasPorClienteProductoMasVendido]    Script Date: 02/11/2025 14:52:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FacturasPorClienteProductoMasVendido]
    @FechaDesde DATE,
    @FechaHasta DATE,
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Listado de facturas en intervalo para cliente
    SELECT fc.*
    FROM Factura_Cabecera fc
    WHERE fc.Cli_ID = @IDCliente
      AND fc.FechaAlta BETWEEN @FechaDesde AND @FechaHasta;

    -- 2) Producto más vendido (por cantidad) para ese cliente en el intervalo
    SELECT TOP 1
        fd.ART_ID,
        a.Nombre,
        SUM(fd.Cant) AS TotalCantidad
    FROM Factura_Cabecera fc
    JOIN Factura_Detalle fd ON fc.FC_ID = fd.Fact_ID
    JOIN Articulo a ON a.ART_ID = fd.ART_ID
    WHERE fc.Cli_ID = @IDCliente
      AND fc.FechaAlta BETWEEN @FechaDesde AND @FechaHasta
    GROUP BY fd.ART_ID, a.Nombre
    ORDER BY SUM(fd.Cant) DESC;
END;
GO
USE [master]
GO
